.DS_Store
inputs.txt
IPLocation.db
*.csv
*~
src/mysql_setup/geonames_data/
*.pyc
#Autotools output
Makefile.in
Makefile
aclocal.m4
autom4te.cache
autoscan.log
config.guess
config.sub
configure
depcomp
install-sh
missing
config.log
config.status
test-driver

#Other output
vchead
data/location_ground_truth.db
doc/dependency_graphs/*png
doc/dependency_graphs/*pdf
python/geoproc_cfg.py
tests/test_aggregate.sh
tests/test_argparse.sh
tests/test_analyze_cookie_files.sh
tests/test_analyze_exif_headers.sh
tests/test_dfxml.sh
tests/test_geoproc_cfg.sh
tests/test_geoproc_commands.sh
tests/test_geoproc_database_conn.sh
tests/test_geoproc_library.sh
tests/test_make_kml.sh
tests/test_reconstruct.sh
src/geoproc.sh
src/geoproc_process.sh
src/geoproc_test_conn.sh
src/process/analyze_cookie_files.sh
src/process/analyze_email_files.sh
src/process/analyze_exif_headers.sh
src/process/analyze_ipv4s.sh
src/process/check_bulk_extractor.sh
src/process/check_dependencies.sh
src/process/do_bulk_extractor.sh
src/process/do_identify_filenames.sh
src/process/extract_cookie_files.sh
src/process/extract_email_files.sh
src/process/fetch_location_lists.sh
src/process/geoproc.mk
src/process/make_kml.sh
src/process/make_reconstructed_emailheaders.sh
src/process/make_reconstructed_httpheaders.sh
src/process/verify_fiwalk_versus_tsk_db.sh
src/process/verify_tsk_db.sh
